* {
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}
/* FONTS
font-family: 'Roboto Condensed', sans-serif;
font-family: 'PT Serif', serif; 
*/