
.header {
    text-align: center;
}

.header__logo {
    padding-top: 88px;
    padding-bottom: 60px;
}

.menu {
    border-top: 2px solid #c4c4c4;
}

.menu__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu__list-item {
    width: 300px;
}

.menu__list-link {
    font-size: 24px;
    line-height: 28px;
    color: #888888;
    text-decoration: none;
    display: block;
    padding: 34px 10px 38px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    transition: all .3s;
}   

.menu__list-link--active,
.menu__list-link:hover {
    color: #fff;
    background-color: #000;

}

.menu__list-item:first-child {
    border-left: 1px solid #c4c4c4;
}

.menu__list-item:last-child {
    border-right: 1px solid #c4c4c4;
}